<div class="container">
  <h4 style="color:black"><strong>Opening Hours <%= @shop.name %></strong></h4>
</div>
<div class="container" style="display:flex">
  <div>
    <span style="font-weight:bold">Schedule&ensp;:&thinsp;</span>
  </div>
  <table id="shop">
    <% OpeningHour.week_days_from_today.each_with_index do |day, i| %>
      <% if i == 0 %>
      <% @shop.opening_hours.where(day: day).each do |opening_hour| %>
        <% if !opening_hour.closed? %>
          <tr>
            <th><%= opening_hour.day %>&ensp;</th>
            <th><%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>,</th>
            <th><%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %></th>
          </tr>
        <% else %>
          <tr>
            <th><%= opening_hour.day %>&ensp;</th>
            <th>Closed</th>
          </tr>
        <% end %>
      <% end %>
      <% else %>
        <% @shop.opening_hours.where(day: day).each do |opening_hour| %>
          <% if !opening_hour.closed? %>
            <tr>
              <td><%= opening_hour.day %>&ensp;</td>
              <td><%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>,</td>
              <td><%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= opening_hour.day %>&ensp;</td>
              <td>Closed</td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
