<div class="container">
</div>
<p><strong>Opening Hours <%= @shop.name %></strong></p>
<% OpeningHour.week_days_from_today.each do |day| %>
  <% @shop.opening_hours.where(day: day).each do |opening_hour| %>
    <% if !opening_hour.closed? %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% else%>
      <%= opening_hour.day %> Closed
    <% end %>
  <% end %>
<% end %>
