<p><strong>Opening Hours <%= @shop.name %></strong></p>
<ul class="list-group">
  <li>
    <% @shop.opening_hours.where(day: "Monday").each do |opening_hour| %>
      <%#= opening_hour.day %>
      <%= opening_hour.starts_at %>-<%= opening_hour.ends_at %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Tuesday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_at.to_s %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Wednesday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_at.to_s %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Thursday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_at.to_s %>
    <% end %>
  </li>
  <li>
    <p>Friday</p>
    <% @shop.opening_hours.where(day: "Friday").each do |opening_hour| %>
      <%#= opening_hour.day %>
      <%= opening_hour.starts_at.hour %>-<%= opening_hour.ends_at.hour %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Saturday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_at.to_s %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Sunday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_at.to_s %>
    <% end %>
  </li>
</ul>
<br>
