<p><strong>Opening Hours <%= @shop.name %></strong></p>
<ul class="list-group">
  <li>
    <% @shop.opening_hours.where(day: "Monday").each do |opening_hour| %>
        <% if opening_hour.closed?%>
          <%= opening_hour.day %> <p>Closed</p>
        <% else %>
          <%= opening_hour.day %>
          <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
        <% end %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Tuesday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Wednesday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Thursday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Friday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Saturday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
  <li>
    <% @shop.opening_hours.where(day: "Sunday").each do |opening_hour| %>
      <%= opening_hour.day %>
      <%= opening_hour.starts_am_at&.strftime("%H:%M") %>-<%= opening_hour.ends_am_at&.strftime("%H:%M") %>, <%= opening_hour.starts_pm_at&.strftime("%H:%M") %>-<%= opening_hour.ends_pm_at&.strftime("%H:%M") %>
    <% end %>
  </li>
</ul>
<br>
